
body {
  background-color: whitesmoke;
  
}

.dailyPageBody {
  font-family: 'Times New Roman', Times, serif;
}

.buttonContainer {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 1; /* Initially hide the buttons */
}

/*
.topBar {
  width: 90%;
  margin: 0 auto;
}
*/

.displayedEntry{
  font-family: "Lucida Console", "Courier New", monospace;
}
 
/* width: '100%', minHeight: '20%', marginTop: '1%', background: 'White' */

.commitmentCard {
  position: relative;
  width: 100%;
  min-height: 20%;
  margin-top: 1%;
  background-color: white;
}

.commitmentCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5%; /* Adjust as needed */
  height: 100%;
  background-color: #ff0000; /* Your desired color */
}